[Unit]
Description=EZ Plot management service.
Documentation=Not likely.
After=network.target
Wants=network.target

[Service]
Type=oneshot
User=root
RemainAfterExit=yes
ExecStart=sudo -u mark /opt/chia/bin/ezplot chia start all
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
