[Unit]
Description=EZ Plot management service.
Documentation=Not likely.
After=network.target

[Service]
Type=service
ExecStart=sudo -u ${CHIA_USERNAME} /opt/chia/bin/ezplot start
#ExecReload=sudo -u ${CHIA_USERNAME} /opt/chia/bin/ezplot stop
Restart=always
StartLimitBurst=1
StartLimitInterval=10m

[Install]
WantedBy=multi-user.target
